* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}
/* -------------commom---------------- */
a {
  text-decoration: none;
}
.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}
.btn {
  display: inline-block;
  padding: 0px 16px;
  line-height: 50px;
  min-width: 118px;
  color: #fff;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 1.6rem;
  text-align: center;
  border-radius: 24.5px;
  background: #171100;
}
/* -------------header------------------ */
.header {
  background: #fffcf4;
}
.header .body {
  display: flex;
  align-items: center;
  padding: 36px 0 8px;
}
.nav ul {
  display: flex;
}
.nav {
  margin-left: auto;
}
.nav a {
  color: #5f5b53;
  font-size: 1.6rem;
  padding: 8px 21px;
  position: relative;
}
.nav a:hover {
  color: #171100;
  /* font-weight: 600; */
  text-shadow: 1px 0 0 currentColor;
  font-style: SemiBold;
}
.nav li.active a::after {
  display: block;
  content: "";
  width: 12px;
  height: 2px;
  border-radius: 1px;
  background-color: #171100;
  position: absolute;
  left: 21px;
  bottom: 8px;
}
.header .btn-sign-up {
  min-width: 144px;
}
.header.fix {
  position: sticky;
  top: -28px;
}
.header .action {
  margin-left: 49px;
}
/* ------hero------ */
.hero .body {
  display: flex;
}
.hero .media-block {
  width: 48%;
}
.hero .content-block {
  width: 52%;
}
.hero .media-block .img {
  width: 470px;
  height: 685px;
  object-fit: cover;
}
